= effective_form_with(model: [:admin, carousel_item], engine: true) do |f|
  - if (carousels = EffectivePages.carousels).length > 1
    = f.select :carousel, carousels, label: 'Carousel item in this carousel'
  - else
    = f.hidden_field :carousel, value: carousels.first

  = f.text_field :title

  - if defined?(EffectiveArticleEditor)
    = f.article_editor :rich_text_body, label: 'Body', hint: 'The main content'
  - else
    = f.rich_text_area :rich_text_body, label: 'Body', hint: 'The main content'

  .row
    .col= f.text_field :link_label
    .col= f.url_field :link_url

  = f.file_field :file, label: 'Image Attachment', hint: 'The image to display on this carousel item'
  = f.text_field :caption, hint: 'Displayed alongside the image'

  = effective_submit(f)
