/ = link_to effective_pages.edit_admin_page_path(page.id), title: 'Settings' do
/   %span.glyphicon.glyphicon-cog

/ = link_to effective_pages.page_path(page, (page.draft? ? {preview: true} : nil)), title: 'View', 'data-no-turbolink': true, target: '_blank' do
/   %span.glyphicon.glyphicon-eye-open

/ - if defined?(EffectiveRegions)
/   = link_to (effective_regions.edit_path(page)), title: 'Edit Content', 'data-no-turbolink': true, target: '_blank' do
/     %span.glyphicon.glyphicon-edit

/ = link_to effective_pages.admin_page_path(page.id), title: 'Delete', data: { method: :delete, confirm: 'Are you sure you want to delete? This cannot be undone.' } do
/   %span.glyphicon.glyphicon-trash

= dropdown(variation: :dropleft) do
  = dropdown_link_to 'Edit', effective_pages.edit_admin_page_path(page), title: 'Settings'
  = dropdown_link_to 'View', effective_pages.page_path(page, (page.draft? ? {preview: true} : nil)), 'data-no-turbolink': true, target: '_blank'
  = dropdown_link_to 'Edit Content', effective_regions.edit_path(page), 'data-no-turbolink': true, target: '_blank'

  = dropdown_link_to "Delete #{page}", effective_pages.admin_page_path(page),
    data: { method: :delete, confirm: "Really delete #{page}?" }
