= dropdown(variation: :dropleft) do
  = dropdown_link_to 'Edit', effective_pages.edit_admin_page_path(page)
  = dropdown_link_to 'Edit Content', effective_regions.edit_path(page), 'data-no-turbolink': true, target: '_blank'
  = dropdown_link_to 'View', effective_pages.page_path(page), 'data-no-turbolink': true, target: '_blank'

  = dropdown_link_to "Delete #{page}", effective_pages.admin_page_path(page),
    data: { method: :delete, confirm: "Really delete #{page}?" }
