- if inline_datatable? && inline_datatable.attributes[:menu]
  - menu = inline_datatable.attributes[:menu]
  - datatable = EffectivePagesMenuDatatable.new(menu: menu, menu_parent_id: page.id)

  = render '/admin/pages/form_menu', page: page

  - if datatable.present?(self)
    %h3 Children
    = render_datatable(datatable, simple: true, inline: true)

- else
  = tabs do
    = tab 'Page' do
      = render '/admin/pages/form_page', page: page

    - if page.persisted?
      - if EffectivePages.menus.present?
        = tab 'Menu' do
          = render '/admin/pages/form_menu', page: page

      - unless page.menu_root_level
        = tab 'Content' do
          = render '/admin/pages/form_content', page: page

      = tab 'Access' do
        = render '/admin/pages/form_access', page: page

      = tab 'Logs' do
        = render_datatable(page.log_changes_datatable, inline: true, namespace: :admin)
