= effective_form_with(model: [:admin, permalink], engine: true) do |f|
  = f.text_field  :title,      required: true,  hint: 'Title of the permalink to be displayed'

  - current_url = (effective_pages.permalink_redirect_url(f.object) rescue nil)
  = f.text_field  :slug,       required: true,   hint: "The slug controls this permalink's internet address. Be careful, changing the slug will break links that other websites may have to the old address.<br>#{('This permalink is currently reachable via ' + link_to(current_url.gsub(f.object.slug, '<strong>' + f.object.slug + '</strong>').html_safe, current_url)) if current_url }".html_safe

  = f.text_field  :summary,    required: true,  hint: 'Summary explanation of the permalink not displayed'
  = f.url_field   :url,        required: false, hint: 'The link if redirecting to a website or specific page'
  = f.file_field  :attachment, required: false, hint: 'The attachment of the permalink if redirecting to a document, image or other file'

  = render 'effective/tags/fields', f: f

  = effective_submit(f)
