= tabs do
  = tab 'Permalink' do
    = render '/admin/permalinks/form_permalink', permalink: permalink

  - if permalink.persisted?
    = tab 'Logs' do
      = render_datatable(permalink.log_changes_datatable, inline: true, namespace: :admin)
