= cache(EffectiveResources.cache_key(carousel, Effective::CarouselItem.all.cache_key_with_version)) do
  - carousel_items = Effective::CarouselItem.sorted.deep.where(carousel: carousel).to_a
  - uid = "effective-carousel-#{carousel}-#{Time.zone.now.to_i}"

  - if carousel_items.present?
    .carousel.slide{id: uid, 'data-ride': 'carousel', **carousel_options}
      %ol.carousel-indicators
        - carousel_items.each_with_index do |item, index|
          %li{'data-target': '#' + uid, 'data-slide-to': index, class: ('active' if index == 0)}

      .carousel-inner
        - carousel_items.each_with_index do |item, index|
          .carousel-item{class: ('active' if index == 0)}
            - if item.caption.blank?
            = image_tag(item.file, class: 'd-block w-100', alt: "Slide #{index+1}")
            - else
              = image_tag(item.file, alt: item.caption)
              .carousel-caption.d-none.d-md-block
                %p= item.caption

      %button.carousel-control-prev{'data-target': '#' + uid, type: 'button', 'data-slide': 'prev'}
        %span.carousel-control-prev-icon{'aria-hidden': true}
        %span.sr-only Previous

      %button.carousel-control-next{'data-target': '#' + uid, type: 'button', 'data-slide': 'next'}
        %span.carousel-control-next-icon{'aria-hidden': true}
        %span.sr-only Next
