= form_for 'options', :url => '', :html => {:class => 'form-horizontal', :style => 'width: 615px;'} do |f|
  .mercury-display-pane-container.form-inputs
    = field_set_tag 'Text Field Tag' do
      .control-group.string.optional
        = label_tag 'options_name', 'Name', :class => 'string optional control-label'
        .controls
          = text_field_tag 'options[name]', @options[:name], :maxlength => 255, :class => 'span6 string optional'
      .control-group.string.optional
        = label_tag 'options_required', 'Required', :class => 'string optional control-label'
        .controls
          = check_box_tag 'options[required]', @options[:required], @options[:required], :class => ''

    = field_set_tag 'Options' do
      .control-group.string.optional
        = label_tag 'options_maxlength', 'Max Length', :class => 'string optional control-label'
        .controls
          = text_field_tag 'options[maxlength]', @options[:maxlength], :maxlength => 255, :class => 'span6 string optional'
      .control-group.string.optional
        = label_tag 'options_placeholder', 'Placeholder Text', :class => 'string optional control-label'
        .controls
          = text_field_tag 'options[placeholder]', @options[:placeholder], :maxlength => 255, :class => 'span6 string optional'
      .control-group.string.optional
        = label_tag 'options_html_class', 'HTML Classes', :class => 'string optional control-label'
        .controls
          = text_field_tag 'options[html_class]', @options[:html_class], :maxlength => 255, :class => 'span6 string optional'

  .mercury-display-controls.form-actions
    %input.btn.btn-primary{:name => 'commit', :type => 'submit', :value => 'Insert Text Field Tag'}

