.menu-item
  = form.fields_for :menu_items, item do |f|
    = f.hidden_field :title, :autocomplete => 'off'
    = f.hidden_field :url, :autocomplete => 'off'
    = f.hidden_field :menuable_id, :autocomplete => 'off'
    = f.hidden_field :menuable_type, :autocomplete => 'off'
    = f.hidden_field :new_window, :autocomplete => 'off'
    = f.hidden_field :classes, :autocomplete => 'off'
    = f.hidden_field :lft, :autocomplete => 'off'
    = f.hidden_field :rgt, :autocomplete => 'off'
