= simple_form_for(menu, (EffectivePages.simple_form_options || {}).merge(:url => (menu.persisted? ? effective_pages.admin_menu_path(menu) : effective_pages.admin_menus_path))) do |f|
  = f.input :title, :hint => "Give this menu a title"

  .effective-menu
    %ul.nav.navbar-nav
      %li.dropdown
        = link_to 'About', '#', 'data-toggle' => 'dropdown'
        %ul.dropdown-menu
          %li= link_to 'Who Are Professional Biologists?', '#'
          %li= link_to 'Protecting the Public', '#'
          %li= link_to 'PRC', '#', :class => 'nav-indent'
          %li= link_to 'DC', '#', :class => 'nav-indent'
          %li= link_to 'RC', '#', :class => 'nav-indent'
          %li= link_to 'Code of Ethics', '#', :class => 'nav-indent'
          %li= link_to 'Entrance Requirements', '#', :class => 'nav-indent'
          %li= link_to 'The Act, Regs, Bylaws', '#', :class => 'nav-indent'
          %li= link_to 'AGM', '#'
          %li= link_to 'Search for a Member', '#'
          %li= link_to 'Board and Staff', '#'

      %li.dropdown
        = link_to 'Become a Member', '#', 'data-toggle' => 'dropdown'
        %ul.dropdown-menu
          %li= link_to 'What it Means for Membership in a Self-Regulating Profession', '#'
          %li= link_to 'Member Benefits', '#'
          %li= link_to 'Membership Categories', '#'
          %li= link_to 'Internationally Trained Applicants', '#'
          %li= link_to 'Ethics Requirements', '#'
          %li= link_to 'Continuing Competency Requirement', '#'
          %li= link_to 'Accredited Post Secondary Programs', '#'
          %li= link_to 'Membership Fees', '#'
          %li= link_to 'Join Now', new_member_path
      %li.dropdown
        = link_to 'Current Members', '#', 'data-toggle' => 'dropdown'
        %ul.dropdown-menu
          %li= link_to 'Volunteer Opportunities', '/volunteer-board'
          %li= link_to 'Logo Use', '#'
          %li= link_to 'Continuing Competence Program', '#'
          %li= link_to 'Discipline', '#'
          %li= link_to 'Practice Areas', '#'
          %li= link_to 'Mentoring Program', '#'

      %li.dropdown
        = link_to 'Outreach', '#', 'data-toggle' => 'dropdown'
        %ul.dropdown-menu
          %li= link_to 'Latest News', '#'
          %li= link_to 'Newsletters', '#'
          %li= link_to 'Job Listings', jobs_path
          %li= link_to 'Scholarships and Awards', '#'

      %li.dropdown
        = link_to 'Events', '#', 'data-toggle' => 'dropdown'
        %ul.dropdown-menu
          %li= link_to 'Conferences', conferences_events_path
          %li= link_to 'Workshops', workshops_events_path

  .form-group
    .col-xs-12
      .form-group
        .pull-right
          = f.button :submit, 'Save'
          = link_to 'Cancel', effective_pages.admin_menus_path
