.menu-item
  = form.simple_fields_for :menu_items, item do |f|
    = f.input_field :title, :as => :hidden
    = f.input_field :url, :as => :hidden
    = f.input_field :lft, :as => :hidden
    = f.input_field :rgt, :as => :hidden
